body {
  font-family: 'Open Sans', sans-serif;
}

/* nav */
.navbar {
  background-color: white !important;
  position: sticky;
  top: 0;
  z-index: 2;
}

.border-bottom{
  border-bottom: 1px solid  #1c679c !important;
}

header{
  display: inline;
}

.navbar-brand img {
  height: 50px;
}

.nav-item {
  color: #1c679c !important;
  margin-bottom: 10px;
  font-size: 14px;
}

.nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1c679c;
}

/* Jumbotron */
.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  margin-top: -10px;
  height: 160px;
  font-weight: 100;
 background-size: cover;
}


.magick-trick{
    position: relative;
    background-image: url('../img/magick-trick.png');
    z-index: 1;
    width: 100%;
    height: 70px;
    margin-bottom: 0;
    
}

.display-text {
  /* background-color: red; */
  margin-top: -75px;
  width: 450px;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  font-weight: 100 !important;
  font-size: 14px;
}

/* Panel Contact */
.panel-contact {
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); */
  background-color : none;
  border-radius: 8px;
  margin-top: -65px;
  padding: 0 !important;
 
}

.panel-contact img{
  width: 100%;
  height: auto;
}

.body-no-watsapp {
  border-radius: 8px;
  background-color: #216ab0;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.kota {
  text-transform: uppercase;
  color: white;
}

.body-no-watsapp i {
  color: white;
}

.wrap-content {
  margin-top: 50px;
}

/* About */
.foto-about {
    width: 100%;
  height: 300px;
}



.img-about{
  width: 100%;
  height: 100%;
}


.text-head {
  color: #729db7;
}

.sub-head-text{
  font-size: 18px;
  font-weight: bold;
  color: #729db7;
}

.sub-sub-judul{
  font-size: 16px;
  color: #636e72;
  font-weight: bold;
}

.content-text{
  font-size: 14px;
  color: #636e72;
}

footer{
  padding :30px;
  color: #636e72;
  font-size: 14px;
  text-align: center;
}

.active-pane{
  display: block !important;
}


/* Utilities */
.button {
  color: white !important;
  font-size: 14px;
  border-radius: 40px;
  padding: 5px 10px;
  width: auto;
  background-color: #1c679c !important;
  text-decoration: none !important; 
}

.bold {
  font-weight: bold;
}


.thin{
  font-weight: 100 !important;
}

.btn-regist{
    padding: 8px 14px !important;
    border-radius: 20px;
    background-color: #1B67A0;
    color: white !important;
    text-align: center;
}

.icon-service{
 border: 0;
}
.icon-service img{
  width:100px;
  height:100px;
  display: block;
  margin: auto;
}

.caption-service{
  font-size : 14px;
  font-weight: bold;
  color: #636e72;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
}

.caption-service:hover{
  color: #1B67A0;
}

.img-fasilitas{
  width: 100%;
  margin-top: 5px;
}

.keterangan-progpil{
  display: none;
  
}


figure img{
  width: 32px;
  height: 32px;
}

figure a{
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #636e72;
  text-decoration: none !important;
}

figure a:hover{
  color: #3498db;
}



.btn-daftar-bawah{
  position: absolute;
  right:10px;
  margin-top: 25px;
}


.btn-bawah{
  padding: 6px 8px !important;
  border-radius: 20px;
  background: white; 
  font-size: 8px;
  color: black !important; 
  text-decoration: none !important;
  text-align: center;
}

.desk{

  display: none;
}
.mob{
  display: block;
}

/* Desktrop */
@media (min-width: 992px) {
  .navbar {
    margin-top: 20px !important;
  }

  .nav-item {
    margin-left: -2px;
  }

  .nav-item::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 15px;
    margin-bottom: -3px;
    margin-left: 8px;
    margin-right: -2px;
    background-color: #1c679c;
  }

  .contact {
    margin-right: 10px;
  }

  .contact::after {
    display: none;
  }

  .nav-item:last-child::after {
    display: none;
  }

  /* Jumbotron */
  .jumbotron {
    margin-top: -40px;
    height: 290px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .display-text {
    margin-top: 30px;
    font-size: 22px;
  }

  .panel-contact {
    border-radius: 8px;
    margin-top: -90px;
  }

  .body-no-watsapp {
    padding: 20px;
    font-size: 12px;
  }

  .foto-about {
    margin-top: -40px;
    width: 400px;
    height: 300px;
  }

  .magick-trick{
      width: 100%;
      height: 100px;
      margin-top: -100px;
  }

  .wrap-content {
    margin-top: 80px;
  }

  .desk-text{
    font-weight: 100 !important;
  }

  footer{
    font-size: 16px;
  }

  .img-fasilitas{
    width: 200px;
  }

  .info-contact{
    text-align: left !important;
  }

  .register{
    background-image: url('../img/backgroundreg.jpeg');
    height: 313px;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  
  .btn-daftar-bawah{
    position: absolute;
    right: 20px;
    margin-top: 20px;
  }

  .btn-bawah{
    padding: 8px 14px !important;
    font-size: 16px;
  }

  .mob{
    display: none;
  }

  .desk{
    display: block;
  }

}

/* Full HD */
@media (min-width: 1920px) and (max-width: 2560px)  {

  .jumbotron {
    margin-top: -40px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%  100%;
  }

  .register{
    height: 400px;
    background-size: 100% 100%;
  }

}

